In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier

**Importing the dataset**

In [3]:
df=pd.read_csv('Social_Network_Ads.csv')

In [8]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

**Splitting the dataset into the Training set and Test set**

In [14]:
X_train, X_test, y_train, y_test = train_test_split(scaled_features,df['Purchased'],
                                                    test_size=0.30)

**Feature Scaling**

In [10]:
label_encoder = preprocessing.LabelEncoder()

In [11]:
df['Gender']= label_encoder.fit_transform(df['Gender'])

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('Purchased',axis=1))
scaled_features = scaler.transform(df.drop('Purchased',axis=1))
scaled_features

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [13]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat

       Gender       Age  EstimatedSalary
0    1.020204 -1.781797        -1.490046
1    1.020204 -0.253587        -1.460681
2   -0.980196 -1.113206        -0.785290
3   -0.980196 -1.017692        -0.374182
4    1.020204 -1.781797         0.183751
..        ...       ...              ...
395 -0.980196  0.797057        -0.844019
396  1.020204  1.274623        -1.372587
397 -0.980196  1.179110        -1.460681
398  1.020204 -0.158074        -1.078938
399 -0.980196  1.083596        -0.990844

[400 rows x 3 columns]

**Fitting K-NN to the Training set**

In [17]:
knn = KNeighborsClassifier(n_neighbors=8)

In [18]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=8)

**Predicting the Test set results**

In [19]:
pred = knn.predict(X_test)

**Making the Confusion Matrix**

In [20]:
print(confusion_matrix(y_test,pred))

[[77  5]
 [ 2 36]]

In [21]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.97      0.94      0.96        82
           1       0.88      0.95      0.91        38

    accuracy                           0.94       120
   macro avg       0.93      0.94      0.93       120
weighted avg       0.94      0.94      0.94       120